<style media="screen">
  div.country_details {
    width: 99.5%;
    height: 88.7%;
    margin-top: 2px;
    position: absolute;
    text-align: center;
    background-color: rgba(96, 164, 8, 0.77);
  }
  h2, label {
    display: block;
  }
  h2 {
  position: relative;
  top: 10px;
  }

  ul {
    list-style-type: none;
  }

  div.external_links {
    display: flex;
  }
  #attractions, #cities {
    width: 50%;
  }


  #attraction, #attraction:visited, #city, #city:visited {
    text-decoration: none;
    color: white;
  }
</style>

<div class="country_details">

<h2>Details of <%= @country.name %></h2>
<%= form_tag add_wishlist_country_path(@country.id) do %>
  <%= submit_tag 'Save to Wishlist'%>
<% end %>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

  <% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'Edit', edit_country_path(@country.id) %>
  |
  <%= link_to 'Delete', country_path(@country.id), method: 'delete' , id: 'delete'%>

  <% end %>

<label id="name">
  <strong>Name:</strong>
  <%= @country.name %>
</label><br>

<label id="description">
  <strong>Description:</strong>
  <%= @country.description %>
</label><br>
<div class="external_links">

<label id="cities">
  <strong>Cities:</strong>
  <ul>
    <% @country.cities.each do |e| %>
    <li>
      <%= link_to e.name, city_path(e.id), id: 'city' %>
    </li>
    <% end %>
  </ul>
</label><br>

<label id="attractions">
  <strong>Attractions:</strong>
  <ul>
    <% @country.cities.each do |city| %>
      <% city.attractions.each do |attraction| %>
        <li>
          <%= link_to attraction.name,     attraction_path(attraction.id), id: 'attraction' %>
        </li>
      <% end %>
    <% end %>
  </ul>
</label>
</div>

<div class="images">
  <% @country.images.each do |image| %>

  <%=image_tag image.image, alt: image.name,  id: 'images' %>

  <% end %>
</div>
</div>
