<style media="screen">
  div.city_details {
    width: 99.5%;
    height: 88.7%;
    margin-top: 2px;
    position: absolute;
    text-align: center;
    background-color: rgba(96, 164, 8, 0.77);
  }
  h2, label {
    display: block;
  }
  h2 {
  position: relative;
  top: 10px;
  }

  ul {
    list-style-type: none;
  }


  #attraction, #attraction:visited {
    text-decoration: none;
    color: white;
  }
</style>

<div class="city_details">

<h2>Details of <%= @city.name %></h2>
<%= form_tag add_wishlist_city_path(@city.id) do %>
  <%= submit_tag 'Save to Wishlist'%>
<% end %>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

  <% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'Edit', edit_city_path(@city.id) %>
  |
  <%= link_to 'Delete', city_path(@city.id), method: 'delete' , id: 'delete'%>

  <% end %>
<label id="name">
  <strong>Name:</strong>
  <%= @city.name %>
</label><br>

<label id="description">
  <strong>Description:</strong>
  <%= @city.description %>
</label><br>

<label id="attractions">
  <strong>Attractions:</strong>
  <ul>
    <% @city.attractions.each do |attraction| %>
    <li>
      <%= link_to attraction.name, attraction_path(attraction.id), id: 'attraction' %>
    </li>
    <% end %>
  </ul>
</label>

<div class="images">
  <% @city.images.each do |image| %>

  <%=image_tag image.image, alt: image.name, id: 'images' %>

  <% end %>
</div>


</div>
