<!DOCTYPE html>
<html>
  <head>
    <title>Tripsearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <h1>Trip Search</h1>
      <nav>
        <%= link_to 'Home Page', root_path %>
        <% if @current_user.present? %>
          Welcome, <%= link_to @current_user.name, user_path(@current_user.id) %>
          <% if @current_user.admin? %>
          <strong>Admin User</strong>
          <% end %>
          (<%= link_to 'Log out', login_path, method: 'delete' %>)
        <% else %>
        <%= link_to 'Login', login_path %>
        <% end %>
        |
        <%= link_to 'Sign in', new_user_path %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
