 <!DOCTYPE html>
<html>
  <head>
    <title>Tripsearch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <div class="navigation">
        <div class="title">
          <h1><%= link_to 'Trip Search', root_path, class: 'home' %></h1>
        </div>
        <div class="user">
          <nav>
            <% if @current_user.present? %>
              Welcome, <%= link_to     @current_user.name,     user_path(@current_user.id), class: 'home'%>
              <% if @current_user.admin? %>
              <strong>Admin User</strong>
              <% end %>
              (<%= link_to 'Log out',   login_path,   method: 'delete', class: 'home' %>)
            <% else %>
            <%= link_to 'Login', login_path, class: 'home' %>
            <% end %>
            |
            <%= link_to 'Sign in',   new_user_path, class: 'home'  %>
          </nav>
        </div>
      </div>
    </header>
    <div class="yield">
      <%= yield %>

    </div>
    <footer>&copy; TripSearch 2020</footer>
  </body>
</html>
