<style media="screen">
  div.attraction_details {
    width: 99.5%;
    height: 88.7%;
    margin-top: 2px;
    position: absolute;
    text-align: center;
    background-color: rgba(96, 164, 8, 0.77);
  }
  h2, label {
    display: block;
  }
  h2 {
  position: relative;
  top: 10px;
  }

  .attraction_images {
    display: flex;
    float: left;
    width: 30vw;
    height: 30vh;
  }
</style>
<div class="attraction_details">

  <h2>Details of <%= @attraction.name %></h2>

  <%= form_tag add_wishlist_attraction_path(@attraction.id) do %>
    <%= submit_tag 'Save to Wishlist'%>
  <% end %>

  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'Edit', edit_attraction_path(@attraction.id) %>
  |
  <%= link_to 'Delete', attraction_path(@attraction.id), method: 'delete' , id: 'delete'%>

  <% end %>

  <label id="name">
    <strong>Name:</strong>
    <%= @attraction.name %>
  </label><br>

  <label id="description">
    <strong>Description:</strong>
    <%= @attraction.description %>
  </label><br>

  <div class="images">
    <% @attraction.images.each do |image| %>

    <%=image_tag image.image, alt: image.name, class: 'attraction_images'  %>

    <% end %>
  </div>

</div>
